body {
	background:url("http://www.next51.net/photo/art/grande/7290939-11210380.jpg?v=1419257653");
	background-size: cover;
	background-position: center;
	color: whitesmoke;
    font-family: "Arial Rounded MT Bold";
}
.navbar-inverse {
	opacity: 0.85;
}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
	             0px 8px 13px rgba(0,0,0,0.2),
	             0px 18px 23px rgba(0,0,0,0.2);
}

html {
	height: 100%;
}

h1 {
	font-weight: 800;
	font-size: 5em;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2)
}